



  .containerCadastro {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px rgba(0, 0, 0, 0);
    width: 350px;
    text-align: center;
    height: 590px;
  }
  
  .containerCadastro h3 {
    margin-bottom: 15px;
    color: #201515;
  }
  
  .infos label {
    display: block;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #555;
    text-align: left;
  }
   
  .input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #080808;
    background-color: #dfe3e8;
    border-radius: 4px;
  }
  
   h6 {
    margin: 20px 0;
    color: #777;
  }
  
  
  .btnGoogle {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #1c4570;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnGoogle:hover {
    background-color: #053263;
  }
  
  .btnGit {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #101214;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnGit:hover {
    background-color: #000000;
  }
  
  .btnCadastro{
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #046edf;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btnCadastro:hover {
    background-color: #053263;
  }
  
  .Log{
    color: #777;
    cursor: pointer;
    font-size: 10px;
    text-decoration: none;

  }
  
  .Log:hover{
    text-decoration:underline;
  }

  
  .servEpriv{
  
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #a2a0a0;
    margin-bottom: 20px;
    margin-top: 20px;
  
  }

  
  .containerCadastro hr {
    border: 1px solid #eee;
  }
   
